<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model.announcements as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

<h2>Our Rentals</h2>
<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental update="update"}}
    {{/each}}
  </ul>

<h2>Our Cities</h2>
<ul>
  {{#each model.cities as |city|}}
  <li>{{#link-to 'city' city.id}} {{city.name}} {{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveCity= 'saveCity'}}
{{new-announcement saveAnnouncement2 = 'saveAnnouncement3'}}

{{#link-to 'about'}}About{{/link-to}}
<br>
{{#link-to 'contact'}}Click here to contact us{{/link-to}}
